body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* ========================== image de prez ========== --> */
#img-accueil{
    background-color: aqua;
    width: 100%;
    height: 50vh;
    background-image: url(../img/pizzas/pizza.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ========================== navbar ================= --> */

/* ========================== menu =================== --> */

/* ========================== cat1 tomate ============ --> */

/* ========================== cat2 creme fraiche ===== --> */

/* ========================== cat3 cration =========== --> */

/* ========================== footer ================= --> */

/* ========================== coordoner map ========== --> */

/* ========================== horaire ================ --> */

/* ========================== mention legal ========== --> */

/* ========================== script Bootstrap ======= --> */