html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* ========================== image de prez ========== --> */
#img-accueil{
    background-color: aqua;
    width: 100%;
    height: 50vh;
    background-image: url(../img/pizzas/pizza.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn:hover{
    background-color: #fff;
    color: #7f0406;
}


.btn-rouge {
    background-color: #7f0406;
    border-color: #7f0406;
    color: #fff;
}


.badge {
    background-color: #7f0406;
    border-color: #7f0406;
    color: #fff;
}



/* ========================== navbar ================= --> */

.typo-accueil{
    font-family: 'Niconne';
    font-size: 1.7rem;
    padding: 0;
}

#navbar-perso{
    background-color: #7f0406;
}
/* ========================== menu =================== --> */
#title-area{
    background-color:  #7f0406;
    font-family: 'Niconne';
    font-size: 1.7rem;
    width: 100%;
    padding: 1rem;
    color: #fff;
}
.link-perso{
    color: #7f0406;
    text-decoration: none;
}
/* ========================== cat1 tomate ============ --> */

/* ========================== cat2 creme fraiche ===== --> */

/* ========================== cat3 cration =========== --> */

/* ========================== footer ================= --> */

/* ========================== coordoner map ========== --> */

/* ========================== horaire ================ --> */

/* ========================== mention legal ========== --> */

/* ========================== script Bootstrap ======= --> */